- list = ["Stupefiants", "Stargate", "Humour", "CameraCafe", "Futurama", "SouthPark", "Startrek", "BigBangTheory", "NCIS", "Kaamelott", "RadioEnfer", "House", "DoctorWho", "Simpson", "Comedy", "Comed2", "Comed3", "Comed4", "FamilyGuyAmericanDad", "LesEnfantsDeLaTele", "Documentaire1", "Documentaire2", "Documentaire3", "CommentCestFait", "HenriPisSaGang", "Buffy", "MaSorciereBienAimee"]
- twitch_qualities = ["best", "worst", "audio", "high", "medium", "low", "mobile", "160p", "360p", "480p", "720p", "720p60", "audio_only"]

html
  head
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    style: include ./app.css
    style: include ./autocomplete.css
    script: include ./autocomplete.js
  body
    if currently_playing
      .navbar.navbar-default
        .container
          .navbar-header
            i.fa.fa-2x.fa-toggle-on.pull-left
            h3.text-center Currently playing: #{currently_playing}

    .container
      form(action='/play_ethor', method='post')
        div(class='form-group')
          i.fa.fa-2x.fa-tv.pull-left
          h3(align='center') Ethor Streams
          select(class='form-control', name='ethor_stream_name')
            each item, i in list
              option(value=item) #{item}
          br
          button(class='btn btn-block text-success'): i.fa.fa-2x.fa-play

      form(action='/play_twitch', method='post')
        div(class='form-group')
          i.fa.fa-2x.fa-twitch.pull-left
          h3(align='center') Twitch Streams
          input(class='form-control', input='text', name='twitch_stream_name')
          br
          select(class='form-control', name='twitch_quality')
            each item, i in twitch_qualities
              option(value=item) #{item}
          br
          button(class='btn btn-block text-success'): i.fa.fa-2x.fa-play

      form(action='/stop_stream', method='post')
        div(class='form-group')
          button(class='btn btn-block text-danger'): i.fa.fa-2x.fa-stop
  script(src='https://cdnjs.cloudflare.com/ajax/libs/aja/0.4.1/aja.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.2.1/lodash.min.js')
  script
    :coffeescript
      ac_template = _.template(
        '<div class="autocomplete-suggestion" data-val="<%= stream_url %>">
          <!-- <img src="<%- icon %>"/> -->
          <span><%= stream %></span>
          <span class="pull-right">
            <small class="text-muted"><%= viewers %></small>
            &nbsp;<i class="fa fa-lg fa-eye"></i>
          </span>
        </div>'
      )
      
      twitch_ac = (term, response) -> 
        aja()
          .url('https://api.twitch.tv/kraken/search/streams')
          .type('jsonp')
          .data({ q: term, limit: 30 })
          .on('success', (data) -> 
            results = _.chain(data.streams)
              .map((item) -> {
                stream: item.channel.display_name
                stream_url: item.channel.name
                icon: item.preview.small
                viewers: item.viewers
              })
              .orderBy(['viewers', 'stream'], ['desc', 'asc'])
              .value()

            response(results)
          )
          .go()
        
      
      new autoComplete({
        selector: 'input[name="twitch_stream_name"]'
        source: _.debounce(twitch_ac, 500)
        renderItem: ac_template
      });

      
 
